In [2]:
# SYEDA ZAINAB FATIMA
# WS25-PAK-INP-AI-01

In [3]:
# LOOP
# WHILE LOOP

In [4]:
# EXAMPLE 1
num = 0
while num < 5:
  num += 1
  print(num)

1
2
3
4
5

In [5]:
# EXAMPLE 2
i = 5
while i > 4 and i < 10:
  i += 1
  print(i)

6
7
8
9
10

In [6]:
# EXAMPLE 3
z = 22
while z < 25:
  z += 1
  print(z)

23
24
25

In [7]:
# EXAMPLE 4
x = 30
while x < 40:
  x += 1
  print(x)

31
32
33
34
35
36
37
38
39
40

In [8]:
# EXAMPLE 5
x = 25
while x >24 and x < 30:
  x += 1
  print(x)

26
27
28
29
30

In [9]:
# EXAMPLE 6
name = "AI Cadmey"
i = 0

while i < 10:
  i +=1
  print(name)

AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey
AI Cadmey

In [10]:
# EXAMPLE 7
name = "Zainab"
i = 0

while i < 5:
  i +=1
  print(name)

Zainab
Zainab
Zainab
Zainab
Zainab

In [11]:
# EXAMPLE 8
marks = 0
while marks < 20:
  marks +=1
  print(marks)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
# EXAMPLE 9
marks = 15
while marks < 25:
  marks +=1
  print(marks)

16
17
18
19
20
21
22
23
24
25

In [13]:
# EXAMPLE 10
marks = 80
while marks < 90:
  marks +=1
  print(marks)

81
82
83
84
85
86
87
88
89
90